{% extends 'index.html' %}

{% block page_title %}
    Wszystkie filmy
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-6 mb-8">
        <div class="bg-movie-purple card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.id__count }}</div>
                <p class="text-sm">Wszystkie filmy</p>
            </div>
        </div>
        <div class="bg-movie-green card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_average__avg|floatformat:2 }}</div>
                <p class="text-sm">Średnia ocena filmów</p>
            </div>
        </div>
        <div class="bg-movie-red card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_count__min }}</div>
                <p class="text-sm">Minimalna liczba głosów</p>
            </div>
        </div>
        <div class="bg-movie-blue card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_count__max }}</div>
                <p class="text-sm">Maksymalna liczba głosów</p>
            </div>
        </div>
    </div>

    {% include 'common/movie-table.html' with movies=movies %}
{% endblock %}