{% extends 'index.html' %}

{% block page_title %}
    Wszystkie filmy
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-6 mb-8">
        <div class="bg-movie-purple card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.id__count }}</div>
                <p class="text-sm">Wszystkie filmy</p>
            </div>
        </div>
        <div class="bg-movie-green card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_average__avg|floatformat:2 }}</div>
                <p class="text-sm">Średnia ocena filmów</p>
            </div>
        </div>
        <div class="bg-movie-red card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_count__min }}</div>
                <p class="text-sm">Minimalna liczba głosów</p>
            </div>
        </div>
        <div class="bg-movie-blue card shadow-xl">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.statistics__vote_count__max }}</div>
                <p class="text-sm">Maksymalna liczba głosów</p>
            </div>
        </div>
    </div>

    <div class="card shadow-lg mb-8 p-4">
        <form class="flex gap-2">
            <label class="input">
                Tytuł
                <input {% if filter %}value="{{ filter }}" {% endif %} name="title" type="text"
                       class="grow" placeholder="Wyszukaj po nazwie..."/>
                <span class="badge badge-neutral badge-xs">Optional</span>
            </label>
            <button type="submit" class="btn btn-neutral btn-outline">Szukaj</button>
            {% if filter %}
                <a href="{% url 'all_movies_url' %}" class="btn btn-neutral btn-outline">Wyczyść filtr</a>
            {% endif %}
        </form>
    </div>
    {% include 'common/movie-table.html' with movies=movies %}
{% endblock %}