{% extends 'index.html' %}

{% block page_title %}
    Wszystkie kolekcje
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Właściciel</th>
            <th>Data utworzenia</th>
            <th>Data edycji</th>
            <th>Liczba filmów</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.name }}</td>
                <td>{{ collection.owner }}</td>
                <td>{{ collection.creation_date|date:"M d, Y" }}</td>
                <td>{{ collection.update_date|date:"M d, Y" }}</td>
                <td>{{ collection.movie_count }}</td>
                <td>
                    <a href="{% url 'detail_collection_url' id=collection.id %}"
                       class="btn btn-outline">Szczegóły</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}